body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    padding: 15px;
    background-color: #222;
    color: white;
}

#scene-container {
    width: 100%;
    height: 80vh;
    background-color: #000;
}

footer {
    padding: 10px;
    background-color: #ddd;
    font-size: 14px;
}
